header 
    .header 
        a(href="#") 
            img(src="images/logo.svg", alt="Logo")
        nav 
            ul.nav
                li.nav-item
                    a(href="").nav-link.active О нас
                li.nav-item
                    a(href="").nav-link Наши проекты
        a(href="#") 
            img(src="images/login.svg", alt="Login")          