- var pageTitle='online TV'

doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/normalize.css
      include styles/style.css
  body
  include sites/header
  include sites/body
  include sites/footer
  script
      include script.js